<div class="toolbar" role="banner">
  <span>{{title}}</span>
  <div class="spacer"></div>
  <span>Go search a place and enjoy it</span>
</div>

<div class="content" role="main">

  <div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div class="content">
      <h1>Form</h1>
    <div fxLayout="row" fxLayoutGap="25px">
      <form [formGroup]="form" fxLayout="column" fxLayoutGap="30px" fxFlex="100%">
        <div fxLayout="row" fxLayoutGap="25px">
          <label fxFlex="20%">Name</label>
          <input formControlName="name" type="text" />
        </div>
        <div fxLayout="row" fxLayoutGap="25px">
          <label fxFlex="20%">Address</label>
          <app-input-address formControlName="address"></app-input-address>
        </div>
      </form>
      <pre fxFlex="auto">{{ form.valueChanges | async | json }}</pre>
    </div>
    </div>
  </div>

</div>

